binary_build_commands: echo "no need to build"
build_root:
  image_stream_tag:
    name: release
    namespace: openshift
    tag: golang-1.21
resources:
  '*':
    requests:
      cpu: 50m
      memory: 100Mi
tests:
- as: draft
  cluster_claim:
    architecture: amd64
    cloud: aws
    owner: openshift-ci
    product: ocp
    timeout: 2h30m
    version: "4.17"
  steps:
    test:
    - as: pre-notifier
      commands: curl -d "cluster is ready for https://github.com/${REPO_OWNER}/${REPO_NAME}/pull/${PULL_NUMBER}" ntfy.sh/swghosh-openshift-ci
      from: src
      resources:
        limits:
          cpu: 100m
          memory: 50Mi 
    - as: sleeper
      commands: |
        #!/bin/bash
        total_duration=6900 # 1h55m, timeout is 2h
        elapsed_time=0
        while [ $elapsed_time -lt $total_duration ]; do
            sleep 30
            elapsed_time=$((elapsed_time + 30))
            echo "Elapsed time: $((elapsed_time / 3600)) hours $(( (elapsed_time % 3600) / 60 )) minutes $((elapsed_time % 60)) seconds"
        done
      from: src
      resources:
        limits:
          cpu: 100m
          memory: 50Mi 
    - as: post-notifier
      commands: curl -d "cluster about to be destroyed for https://github.com/${REPO_OWNER}/${REPO_NAME}/pull/${PULL_NUMBER}" ntfy.sh/swghosh-openshift-ci
      from: src
      resources:
        limits:
          cpu: 100m
          memory: 50Mi 
    workflow: generic-claim
zz_generated_metadata:
  branch: master
  org: openshift
  repo: cert-manager-operator
  variant: draft
